<div class="flex flex-col md:w-[620px] justify-center items-center mx-auto p-2 bg-black bg-opacity-20 rounded-lg">
    <div class=" flex flex-col w-full bg-purple-400 bg-opacity-20 rounded-md p-2">
        <button class="button flex items-end bg-yellow-400 rounded-md text-white hover:text-red-500 p-2 font-semibold " (click)="showForm = !showForm"> New + </button>
        <form class="flex flex-col w-full justify-between pt-2 gap-2" (ngSubmit)="addTodo()" *ngIf="showForm">
            <input type="text" name="inputTodo" placeholder="Enter Task" class="text-xl bg-blue-100 w-full p-2 text-black rounded-md border border-blue-800" [(ngModel)]="todoValue" required
            #todoInput="ngModel"/>
            <input type="text" name="inputDesc" placeholder="Enter Description..." class="text-base bg-blue-100 w-full p-2 text-black rounded-md border border-blue-800" [(ngModel)]="descValue" required
            #descInput="ngModel"/>
            <input type="submit" value="+ Add" class=" bg-green-600 p-2 rounded-md text-white hover:bg-green-500 hover:cursor-pointer" (click)="addTodo()" [disabled]="todoInput.invalid"/>
        </form>
    </div>
    <h1 class="text-xl me-auto mb-6 mt-4 p-2 rounded-md text-white text-center bg-red-400 w-full">To-Do List</h1>
    <div class=" text-xl pb-4" *ngIf="todoList.length === 0">
        <p class="text-white"> Your Tasks are Done! </p>
    </div>
    <div class=" grid grid-cols-2 gap-10">
        <div class="flex flex-col w-[240px] h-[180px] gap-2 justify-center items-center px-2 py-2 mb-1 bg-gray-400 bg-opacity-40 border border-white rounded-md" *ngFor="let todo of todoList; let i=index;"> 
            <button class="" (click)="changeTodo(i, todo.value)"><fa-icon [icon]="faCheckCircle" class="text-2xl text-gray-400 hover:text-green-600"></fa-icon></button>
            <div class=" text-xl"> {{todo.content}} </div>
            <p class="description"> {{todo.description}} </p>
            <button class="text-base bg-red-600 hover:bg-red-500 p-2 text-white rounded-md " (click)="removeTodo(i)">Remove</button>
        </div>
    </div>
    <h1 class="text-xl me-auto mb-2 mt-7 p-2 rounded-md text-white text-center bg-green-400 w-full" *ngIf="finishedList.length > 0">Finished List</h1>
    <div class="flex flex-row w-full justify-between items-center px-2 py-2 mb-1 even:bg-gray-300 odd:bg-white" *ngFor="let todo of finishedList; let i=index;">
        <button class="w-4 h-4" (click)="changeFinished(i, todo.value)"><fa-icon [icon]="faCheckCircle" class="text-green-600 hover:text-gray-400"></fa-icon></button>
        <div class=" text-xl mr-auto ps-4"> {{todo.content}} </div>
        <p class="description"> {{todo.description}} </p>
        <button class="text-base bg-red-600 hover:bg-red-500 p-2 text-white rounded-md " (click)="removeFinished(i)">Delete</button>
    </div>
</div>
